In [11]:
import QUANTAXIS as QA
import pandas as pd
# pd.set_option('expand_frame_repr', False)  # 当列太多时不换行
pd.set_option('display.max_columns', None)

In [12]:
QA.QA_util_log_info('实时价格')
data=QA.QAFetch.QATdx.QA_fetch_get_stock_realtime(['000001','000002'])

QUANTAXIS>> 实时价格

In [13]:
data

                                     servertime  active1  active2  last_close   open   high    low  price  cur_vol   s_vol   b_vol     vol   ask1  ask_vol1   bid1  bid_vol1   ask2  ask_vol2   bid2  bid_vol2   ask3  ask_vol3   bid3  bid_vol3   ask4  ask_vol4   bid4  bid_vol4   ask5  ask_vol5   bid5  bid_vol5
datetime                   code
2020-05-07 15:34:21.915121 000001  14:59:56.155     4370     4370       13.77  13.76  13.76  13.60  13.69     9289  368214  294535  662749  13.69      1189  13.68        47  13.70      3821  13.67        91  13.71       364  13.66      1256  13.72      1263  13.65      4219  13.73      2417  13.64      1659
                           000002  14:59:51.734     4628     4628       26.26  26.18  26.18  25.88  25.97     5628  315794  257371  573164  25.98      1345  25.97      1225  25.99       369  25.96      2978  26.00       464  25.95      3881  26.01       171  25.94      1151  26.02       318  25.93      1662