In [1]:
# from pyecharts.charts.basic_charts.kline import Kline
from pyecharts.charts import Kline
from pyecharts import options as opts
import tushare as ts
import pandas as pd
import os
file_name = 'aaa.csv'
if not os.path.exists('aaa.csv'):
    MY_TOKEN = '190040a13eb5b092ca76fa003f58d693c9121e0fc621f6d2ad221468'
    ts.set_token(MY_TOKEN)
    pro = ts.pro_api()
    df1 = pro.daily(ts_code='000938.SZ', start_date='20150401', end_date='20180930')
    df=df1.sort_values(by=['trade_date'])
    df.reset_index(level=0,inplace=True)
    df.drop(['index'],axis=1,inplace=True)
    print(df)
    df.to_csv(file_name)

df = pd.read_csv(file_name)
print(df)
date = df.trade_date.tolist()
data = []
for idx in df.index :
     row=[df.iloc[idx]['open'],df.iloc[idx]['close'],df.iloc[idx]['low'],df.iloc[idx]['high']]
     data.append(row)
WIDTH = 1100
HEIGHT = 550
chart_init = {
    "width": WIDTH,
    "height": HEIGHT,
}
kline = Kline()
kline.add_xaxis(date).add_yaxis('日K', data)
kline.set_global_opts(
    xaxis_opts=opts.AxisOpts(is_scale=True),
)
# kline.add_yaxis(
#     "日K",
#     date,
#     data,
#     mark_point=["max"],
#     is_datazoom_show=True,
# )
# 生成一个名为 render.html 的文件
kline.render()
kline.render_notebook()
# kline.render('a.html')
# 在jupyter中使用，只需要使用xxx.render_notebook() 方法即可在Jupyter中显示图

     Unnamed: 0    ts_code  trade_date   open   high    low  close  pre_close  \
0             0  000938.SZ    20150526  32.04  32.04  32.04  32.04      29.13
1             1  000938.SZ    20150527  35.24  35.24  35.24  35.24      32.04
2             2  000938.SZ    20150528  38.76  38.76  38.76  38.76      35.24
3             3  000938.SZ    20150529  42.64  42.64  42.64  42.64      38.76
4             4  000938.SZ    20150601  46.90  46.90  46.90  46.90      42.64
..          ...        ...         ...    ...    ...    ...    ...        ...
772         772  000938.SZ    20180921  42.05  42.75  41.60  42.43      41.86
773         773  000938.SZ    20180925  42.28  43.20  42.02  42.65      42.43
774         774  000938.SZ    20180926  42.95  43.10  42.35  42.90      42.65
775         775  000938.SZ    20180927  42.68  43.10  41.96  42.06      42.90
776         776  000938.SZ    20180928  42.00  42.45  41.68  42.13      42.06

     change  pct_chg       vol       amount
0      2.91   9.9900    541.79    1735.8952
1      3.20   9.9900    373.63    1316.6721
2      3.52   9.9900   1313.40    5090.7384
3      3.88  10.0100    782.63    3337.1343
4      4.26   9.9900    342.84    1607.9196
..      ...      ...       ...          ...
772    0.57   1.3617  31266.46  132052.3480
773    0.22   0.5185  28069.92  119943.1350
774    0.25   0.5862  28850.11  123336.9960
775   -0.84  -1.9580  28004.20  118953.8560
776    0.07   0.1664  23828.16  100363.5440

[777 rows x 12 columns]

NameError: name 'opts' is not defined